html{
    font-size: 0.8px;
}
body {
    margin: 0;
    font-family: "Arial";
    cursor: url("/img/cursor.cur"), default;
}
h1 {
    margin: 0 0 17px;
    color: #39930d;
    font-size: 24px;
}
ul {
    list-style: none;
}
.background {
    background-color: #8dc63f;
}
.wrapper {
    margin: 0 auto;
    padding: 0 15rem;
    max-width: 960px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.header{
    row-gap: 15rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25rem 0;
}
.logo{
    row-gap: 15rem;
    align-items: center;
    
}
.logo img{
    width: 100%;
}
.logo p,
.contacts p {
    margin: 0;
}
.ball{
    margin: 0rem 34rem ;
    width: 100%;
    animation: boll 2s linear infinite;
}
@keyframes boll {
    0%,100%{
        transform: translateX(0) 
    }
    50%{
        transform: translate(200px, 200px)
    }   
    70%{
        transform: translate(300px, 150px);
    } 
}
.contacts p {
    text-align: right;
}
.logo p,
.contacts a {
    color: #39930d;
    font-size: 22rem;
}
.logo b {
    display: block;
    color: #39930d;
    font-size: 44rem;
}
.contacts i {
    display: block;
}
.contacts a { 
    display: block;
    margin-bottom: 8rem;
    text-decoration: none;
}
.logo i,
.contacts i {
    color: #5a5a5a;
    font-size: 14rem;
}
.picture{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 75%;
}
.main {
    flex-wrap: wrap-reverse;
    column-gap: 37rem;
    padding: 24rem 0 6rem;
}
.information p {
    margin: 0 0 20rem;
    color: #343434;
    font-size: 14rem;
    line-height: 1.5em;
}
.partners {
    width: 100%;
    min-width: 300px;
}
.partners p {
    margin: 0;
    padding: 14rem 0 10rem 19rem;
    color: #ffffff;
    font-size: 18rem;
    background-color: #39930d;
}
.partners ul{
    margin: 0;
    padding: 20rem 0 0 0rem;
}
.partners li{
    padding-left: 20rem;
    transition: all 1s ease-in;
}
.partners a {
    display: block;
    color: #39930d;
    font-size: 14rem;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.1em;
}
.partners li:hover{
    background-color: #d5f5d4;
    border-radius: 5rem;
}
.footer {
    margin: 0rem -15rem;
    padding: 17rem 0 14rem 16rem;
    color: #ffffff;
    font-size: 14rem;
    background-color: #39930d;
}

@media screen and (min-width: 768px) {
    html{
        font-size: 1px;
    }
    .header{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo{
        flex-wrap: nowrap;
    }
    .main{
        flex-wrap: nowrap;
    }
    .navigation{
        width: auto;
    }
}
@media screen and (min-width:1440px) {
    html{
        font-size: 1.5px;
    }
}